table {
    border-spacing: 0 10px;
    font:  bold 100% Georgia, serif;
    margin: 40px auto;
    text-shadow: 5px 5px 5px #3F3F7F;
    background: #f2e70f;
    text-align: center;
    vertical-align: middle;
    /*width: 90%;*/
    border: 5px solid #3eadff;
}

select{
    border: 1px solid #cccccc;
    border-radius: 3px;
    background: linear-gradient(1deg, rgb(205, 230, 255), rgba(255, 255, 255, 0.9));
    outline: none;
    height: 30px;
    width: 300px;
    font: bold 20px Georgia, serif;
    text-align: center;
    text-align-last: center;
    text-shadow: 1px 1px 1px #7F7F7F;
    box-shadow: 3px 3px 25px rgb(15,15,45);
}
table caption{
    background: #3F3F7F;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px;
    box-shadow: 0 2px  4px 0 rgba(0,0,0,.3);
    color: white;
    font-family: "Roboto Slab",serif;
    font-style: normal;
    font-size: 26px;
    text-align: center;
    margin: 0;
}
.heading {
    text-shadow: 2px 2px 5px #7F7F7F;
    color: #169235;
    font-size: 30px;
}
a {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 120%;
    padding: 5px 0;
    transition: 0.2s ease-in-out;
    border-radius: 5px;
    color: #000000;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
}
a.disabled {
    pointer-events: none;
    cursor: default;
    box-shadow: 0 0 3px rgba(0,0,0,0.3);
    opacity: 0.5;
}
a.selected {
    box-shadow: 0 0 25px rgb(255,255,255);
    background: linear-gradient(1deg, rgb(190, 200, 255), rgba(235, 245, 255, 0.9));
}

a.current-page {
    pointer-events: none;
    cursor: default;
    font-size: 150%;
    box-shadow: 0 0;
}

a:hover {
    transition: 0.3s;
    box-shadow: 0 0 25px rgb(255,255,255);
}

a:active {
    background: linear-gradient(1deg, rgb(255, 255, 255), rgba(210, 210, 210, 0.9));
}
.icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    margin-left: 10px;
    vertical-align: bottom;
    background: url("icons.png") no-repeat;
}
.icon-delete {
    background-position: -25px 0;
}

.icon-edit {
    background-position: -49px 0;
}
.icon-first {
    background-position: -125px 0;
    margin: 0;
}

.icon-prev {
    background-position: -147px 0;
    margin: 0;
}

.icon-next {
    background-position: -166px 0;
    margin: 0;
}

.icon-last {
    background-position: -188px 0;
    margin: 0;
}
.style input{
    border: 1px solid #cccccc;
    border-radius: 3px;
    background: linear-gradient(1deg, rgb(205, 230, 255), rgba(255, 255, 255, 0.9));
    outline: none;
    height: 30px;
    width: 300px;
    font: bold 20px Georgia, serif;
    text-align: center;
    text-shadow: 1px 1px 1px #7F7F7F;
    box-shadow: 3px 3px 15px rgb(15,15,45);
}
.canc{
    width: 110px;
    text-transform: none;
    height: 22px;
    padding-top: 7px;
    font: bold 20px Georgia, serif;
    text-align: center;
    border: 1px solid #cccccc;
    border-radius: 3px;
    background: linear-gradient(1deg, rgb(205, 230, 255), rgba(255, 255, 255, 0.9));
    color: #000000;
    text-shadow: 1px 1px 1px #7F7F7F;
    box-shadow: 3px 3px 15px rgb(15,15,45);
    cursor: pointer;
}
.id {
    background: linear-gradient(1deg, rgb(205, 230, 255), rgba(255, 255, 255, 0.9));
    width: 300px;
    margin: auto;
    height: 20px;
    vertical-align: middle;
    font-size: 20px;
    cursor: pointer;
    color: #3c95ff;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
  }
input[type=submit], input[type=reset]{
    width: 250px;
    height: 35px;
    font-size: 24px;
    cursor: pointer;
}

input[type=submit]:active, select:active, input[type=reset]:active, .canc:active  {
    transition: 0s;
    background: linear-gradient(1deg, rgb(255, 255, 255), rgba(210, 210, 210, 0.9));
}

input:hover, select:hover, .canc:hover  {
    box-shadow: 0 0 15px rgb(155,155,155);
}

input:focus, select:focus, .canc:focus {
    box-shadow: 0 0 25px rgb(255,255,255);
}
.left-side {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.right-side {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
::-webkit-input-placeholder {
    font: bold 100% Georgia, serif;
    color: rgba(0,0,0,0.2);
    text-shadow: 0 0;
}
:focus::-webkit-input-placeholder, .main:focus::-webkit-input-placeholder {
    text-indent: 500px;
    transition: text-indent 0.5s ease;
}

.main ::-webkit-input-placeholder {
    font: 80% Georgia, serif;
    color: rgba(0, 0, 0, 0.12);
    text-shadow: 0 0;
}